{% load static %}

<html>

<head>
    <title>Yoga9_test</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    {# font change GoogleFontsから読み込む これrelとhrefの順序変えて記述していいんだ！ほええ #}
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    {# Bootstrapに上書きされないよう、順番が大事 #}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

</head>
{# bodyの中に入れないと、まじでおかしくなっちゃうｗ　headはページの色々設定かな？#}

<!-- html式コメントアウト。このコメントはソースコードには表示される -->

{% comment %}

Djangoブロック式コメントアウト。
このコメントはソースコードにも表示されない

{% endcomment%}


<body>
    <div　class="page-header">
        <h1><a href="https://pbs.twimg.com/profile_images/471983293349367808/QmDzb6cM.jpeg">＞＞R18 入口はこちら＜＜</a></h1>
    </div>

    <div class="post">
        {% for post in posts %}
        {{ post }}
        {% endfor %}

        <p>Sevuredpublished: 14.06.2014, 12:14</p>
        <h2><a href="">clickしてマルウェアをインストール</a></h2>
        <p>Aenean eu leo quam.</p>
        
        <h6><a href="https://www.dcexpo.jp/">DCEXPO2204で会いましょう!</a></h6>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div>
        <p>公開日: 2204/06/14, 13:66</p>
        <h2><a href="https://livedoor.blogimg.jp/magsokublog/imgs/7/8/78d47644.jpg">可愛い女の子たちに会いたい方はこちら！</a></h2>
        <p> ※現在申し込み多数に付き応募停止中です。 </p>
    </div>
</body>

</html>